@keyframes move-back-and-forth {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.pet {
  top: 10%;
  right: 5%;
  height: 4rem;
  width: 4rem;
  z-index: 1000;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/cat.gif");
  background-repeat: no-repeat;
  background-size: 4rem 4rem;

  /* Cat's position should allow movement across the browser */
  position: fixed;
  animation: move-back-and-forth 3s linear infinite;
}

.reading-time {
  color: #666;
}
