html {
  min-height: 5em;
  min-width: 10em;
  background: linear-gradient(
    91.9deg,
    rgb(93, 248, 219) 27.8%,
    rgb(33, 228, 246) 67%
  );
}

body {
  text-align: center;
}

/* Align table in the center */
table {
  margin: 1rem auto;
}

img {
  width: 3rem;
  height: 3rem;
}
